{% extends 'baseFreelancer.html.twig' %}


 {% block content %}

         <!--Start of Job Post Area-->
         <div class="job-post-area ptb-120">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="section-title text-center ">
                         <h2 class="uppercase">Recent Training</h2>
                         <div class="separator mt-35 mb-77">
                             <span><img src="images/icons/1.png" alt=""></span>
                         </div>
                     </div>
                 </div>
             </div>
             {% for entity in formation   %}
             <div class="row">
                 <div class="col-md-12">
                     <div class="job-post-container fix mb-70">
                         <div class="single-job-post fix">
                             <div class="job-title col-4 pl-30">
                                            <span class="pull-left block mtb-17">
                                                <a href="#"><img src="images/company-logo/1.png" alt=""></a>
                                            </span>
                                 <div class="fix pl-30 mt-29">
                                     <h4 class="mb-5">{{ entity.titre|upper }}</h4>
                                     <h5><a href="#">{{ entity.IdClient.NomCompany }}</a></h5>
                                 </div>
                             </div>
                             <div class="address col-4 pl-50">
                                            <span class="mtb-30 block">{{ entity.lieu }}<br>
                                            {{ entity.idcategorief.categorief }}</span>
                             </div>
                             <div class="time-payment col-2 pl-60 text-center pt-22">
                                 <span class="block mb-6">{{ entity.datedebut|date }}</span>
                               <a href="{{ path('participer',{'id':entity.id()}) }}" class="button large-button" style="color: white" >Participate</a>


</div>
</div>

<div class="text-center">
<a href="{{ path('detail1',{'id':entity.id}) }}" class="button large-button">Show More</a>

</div>
</div>
</div>
</div>{% endfor %}
</div>




<!-- End of Job Post Area -->
<!--Start of Job Post Area-->
       <center>   <table><tr>
               <td><a href="{{ path('chart') }}" class="button large-button">stat</a></td>
                  <td><a href="{{ path('list') }}" class="button large-button">List of trainings</a></td>
           </tr></table></center>
<!--Start of Social Link Area-->
<div class="social-link-area ptb-40 dark-blue-bg">
<div class="container">
<div class="row">
<div class="col-md-6 fix col-xs-12 col-sm-6">
<div class="footer-logo pull-left">

<a href="{{ path ('homepage')}}" class="block"><img src="{{ asset('template/images/logo/logonoir.png') }}" alt=""></a>
</div>
</div>

<div class="col-md-6 fix col-xs-12 col-sm-6">
<div class="social-links pull-right">
<a href="#"><i class="zmdi zmdi-facebook"></i></a>
<a href="#"><i class="zmdi zmdi-rss"></i></a>
<a href="#"><i class="zmdi zmdi-google-plus"></i></a>
<a href="#"><i class="zmdi zmdi-pinterest"></i></a>
<a href="#"><i class="zmdi zmdi-instagram"></i></a>
</div>
</div>
</div>
</div>
</div>
<!--End of Social Link Area-->

<!--Start of Footer Widget-area-->
<div class="footer-widget-area black-bg pt-120 pb-110">
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-4">
<div class="single-footer-widget">
<h3 class="text-white mb-22">About Us</h3>
<p class="text-white pr-10">There are many vations of passages of Lorem Ipsumable, but the majority have suffered altetion in some form, by injected ur, or randomised words which don't look even slightly believable</p>
</div>
</div>
<div class="col-md-3 col-sm-4">
<div class="single-footer-widget">
<h3 class="text-white mb-26">GET IN TOUCH</h3>
<span class="text-white mb-9"><i class="fa fa-phone"></i>+88 018 785 4589</span>
<span class="text-white mb-9"><i class="fa fa-envelope"></i>devitems@email.com</span>
<span class="text-white mb-9"><i class="fa fa-globe"></i>www.devitems.com</span>
<span class="text-white mb-9"><i class="fa fa-map-marker"></i>ur address goes here,street.</span>
</div>
</div>
<div class="col-md-3 col-sm-4">
<div class="single-footer-widget">
<h3 class="text-white mb-21">Helpful Links</h3>
<ul class="footer-list">
<li><a href="#">About Us</a></li>
<li><a href="#">Support</a></li>
<li><a href="#">Affiliate</a></li>
<li><a href="#">Pricing</a></li>
<li><a href="#">Terms &amp; Conditions</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
</div>
<div class="col-md-3 hidden-sm">
<div class="single-footer-widget">
<h3 class="text-white mb-21">Trending Jobs</h3>
<ul class="footer-list">
<li><a href="#">Designer</a></li>
<li><a href="#">Developer</a></li>
<li><a href="#">iOS Developer</a></li>
<li><a href="#">Designer</a></li>
<li><a href="#">Developer</a></li>
<li><a href="#">iOS Developer</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}