{% extends 'baseAdmin.html.twig' %}
{%  block body %}
<h>Search</h>

 {#{{ form_start(f) }}#}

<table border="1">
    {{ form(form) }}
    <tr>
        <td>ID</td>
        <td>Category</td>


    </tr>
    {% for entity in ticket   %}
        <tr>
            <td>{{ entity.Id }}</td>
            <td>{{ entity.Categorie. }}</td>


        </tr>
    {% endfor %}
</table>
<td> <a href="{{ path('Addr') }}"><button>Add</button></a> </td>
{% endblock %}