{% extends 'baseClient.html.twig' %}
{%  block body %}
    <table>
        <tr>
<h3>Modifier Reclamation</h3>
        </tr>
{{ form_start(f) }}
<tr>
    <td>
    Offre:* <td> {{ form_widget(f.offre) }}
</tr>
       <tr> <td>  Service:*</td>
        <td>  {{ form_widget(f.service) }}</td>
       </tr>
        <tr> <td> Categorie:*</td>
        <td> {{ form_widget(f.categorie) }}</td>
        </tr>
        <tr>   <td> Motifreclamation:*</td>
        <td>    {{ form_widget(f.motifreclamation) }} </td>
        </tr>
        <tr>  <td> Image:*</td>
            <td>  {{ form_widget(f.image) }}
            </td></tr>

    {{ form_widget(f.save) }}
{{ form_end(f) }}</br>
    </table>

{% endblock %}