{% extends 'baseClient.html.twig' %}
{%  block body %}
<h>Recherche </h>

 {#{{ form_start(f) }}#}


    {{ form(form) }}
    <div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example</div>
    <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Offre</th>
            <th>Service</th>
            <th>Categorie</th>
            <th>Motif de la reclamation</th>
            <th>Image</th>
        </tr>
        </thead>
        <tfoot>
        <tr>

            <th>Offre</th>
            <th>Service</th>
            <th>Categorie</th>
            <th>Motif de la reclamation</th>
            <th>Image</th>
        </tr>
        </tfoot>
    {% for entity in ticket   %}
        <tr>
            <td>{{ entity.Id }}</td>
            <td>{{ entity.Offre }}</td>
            <td>{{ entity.Service }}</td>
            <td>{{ entity.Categorie.CategorieR }}</td>
            <td>{{ entity.MotifReclamation}}</td>
            <td>{{ entity.Image }}</td>
            <td> <a href="{{ path('delete',{'id':entity.id}) }}"><button style="color: white">Supprimer</button></a> </td>
            <td> <a href="{{ path('edit',{'id':entity.id}) }}"><button style="color: white">Modifier</button></a> </td>

        </tr>
    {% endfor %}
</table>
<td> <a href="{{ path('Add') }}"><button style="color: white">Ajouter</button></a> </td>
{% endblock %}