{% extends 'baseAdmin.html.twig' %}
{%  block body %}

<table>
    <h></h>

{{ form_start(f) }}

    <tr>
        <td>Attribution:* </td>
        <td>{{ form_widget(f.attribution) }}</td>
    </tr>
    <tr>
        <td>Motif de la reclamation:* </td>
        <td>{{ form_widget(f.motifreclamation) }}</td>
    </tr>
    <tr>
        <td>GSM:* </td>
        <td>{{ form_widget(f.gsm) }}</td>
    </tr>
    <tr>
        <td>Date de creation:* </td>
        <td>{{ form_widget(f.datecreation) }}</td>
    </tr>
    <tr>

    </tr>
    <tr> {{ form_widget(f.Traitement) }}</tr>
{{ form_end(f) }}</br>
</table>

{% endblock %}