<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <title>{% block title %}Admin Interface{% endblock %}</title>
    {% block stylesheets %}
        <!-- Custom fonts for this template-->
        <link href="{{ asset ('vendor2/fontawesome-free/css/all.min.css')  }}" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="{{  asset ('vendor2/datatables/dataTables.bootstrap4.css') }}"  rel="stylesheet">


        <link href="{{ asset ('css2/sb-admin.css') }}" rel="stylesheet">


    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
{% block header %}

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="AccueilAdmin" class="block"><img src="{{ asset('template/images/logo/logonoir3.png') }}" alt=""></a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
              <!-- icone profil -->

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="http://localhost/SmartStart_test/web/app_dev.php/ProfilAdmin">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="http://localhost/SmartStart_test/web/app_dev.php/logout" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="http://localhost/SmartStart_test/web/app_dev.php/AccueilAdmin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard Admin</span>
            </a>
        </li>
        <li class="nav-item dropdown">

        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost/SmartStart_test/web/app_dev.php/Skills">
                <i class="fas fa-fw fa-table"></i>
                <span>Skills</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-table"></i>
                <span>Formations</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-table"></i>
                <span>Claims</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-table"></i>
                <span>Ads</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost/SmartStart_test/web/app_dev.php/logout">
                <i class="fas fa-fw fa-round"></i>
                <span></br></br>LOGOUT</span></a>
        </li>
    </ul>
    {% endblock %}

    {% block body%}

        {% endblock %}

        <!-- Sticky Footer -->
        {% block footer %}
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span class="text-red block">Copyright&copy; <span>PIDEV</span> 2019.All right reserved.Created by Team <a href="https://github.com/NidhalATTIA/Epsilon" class="text-black">Epsilon</a></span>
                </div>
            </div>
        </footer>

        {% endblock %}
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="http://localhost/SmartStart_test/web/app_dev.php/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="js/demo/datatables-demo.js"></script>
<script src="js/demo/chart-area-demo.js"></script>

</body>

</html>
