{% extends 'baseFreelancer.html.twig' %}

    {% block body %}

<div class="card mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="ProfileFreelancer">Profile</a>
        </li>
        <li class="breadcrumb-item active">Skills</li>
    </ol>
    <div class="card-header">

        <h>Add your skill !</h>
        {{ form_start(f) }}
        Skills:*  {{ form_widget(f.Skill) }}</br>
        Description:*  {{ form_widget(f.Description) }}</br>
        {{ form_widget(f.save) }}
        {{ form_end(f) }}</br>

    {% endblock %}


