{% extends 'baseClient.html.twig' %}
{#{% block content %}#}
{% block content %}

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Formations</div>
        <center><h3>Les formations déjà postées</h3></center>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>

                    {#  <h1>Recherche </h1> #}
                   {{ form(form) }}

                    <tr>
                        <th>id</th>
                        <th>Organizer</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>description</th>
                        <th>Place</th>
                        <th>Price</th>
                        <th>Number of participants</th>
                        <th>Date of Start</th>
                        <th>Date of End</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>id</th>
                        <th>Organizer</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>description</th>
                        <th>Place</th>
                        <th>Price</th>
                        <th>Number of participants</th>
                        <th>Date of Start</th>
                        <th>Date of End</th>
                    </tr>
                    </tfoot>

                    <tbody>

                    {% for entity in formation   %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ app.user.NomCompany }}</td>
                            <td>{{ entity.Titre }}</td>
                            <td>{{ entity.idCategorieF.categorieF }}</td>
                            <td>{{ entity.description }}</td>
                            <td>{{ entity.lieu }}</td>
                            <td>{{ entity.prix }}</td>
                            <td>{{ entity.nbParticipants }}
                                <a href="{{ path('list2',{'id':entity.id}) }}" type="button">Afficher</a></td>
                            <td>{{ entity.dateDebut.date }}</td>
                            <td>{{ entity.dateFin.date }}</td>

                            {#<td><a href="{{ path('delete',{'id':entity.id}) }}"> <input type="submit" value="Delete post" onclick="confirm('Are you sure to delete this training?') || event.preventDefault()"></a></td>#}
                            <td> <a href="{{ path('deleteL',{'id':entity.id}) }}"><button style="color: white">Delete</button></a> </td>

<td> <a href="{{ path('updateL',{'id':entity.id}) }}"><button style="color: white">Update</button></a> </td>

</tr>
{% endfor %}


</tbody>
</table>

<td> <a href="{{ path('AddL') }}"><button style="color: white">Add</button></a> </td>

</div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

</div>


{% endblock %}
