{% extends 'baseAdmin.html.twig' %}
    {% block body %}


<div class="card mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="AccueilAdmin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Skills</li>
    </ol>
    <div class="card-header">
        <i class="fas fa-table"></i>

        List of the skills</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
            <tr>
                <th>ID</th>
                <th>Skill</th>
                <th>Categorie</th>
            </tr>
                </thead>
            <tbody>
            {% for entity in s   %}
                <tr>
                    <td>{{ entity.ID }}</td>
                    <td>{{ entity.Skill }}</td>
                    <td>{{ entity.idCategorie.Categorie }}</td>
                    <td> <a href="{{ path('SkillsDelete',{'id':entity.ID}) }}"><button>Delete</button></a> </td>
                    <td> <a href="{{ path('SkillsUpdate',{'id':entity.ID}) }}"><button>Update</button></a> </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
            <th> <a href="{{ path('SkillsCreate') }}"><button> Add </button></a> </th>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>

</div>


    {% endblock %}


