
{% extends 'baseFreelancer.html.twig' %}

{% block content %}
{% if Postulation == NULL %}
    <center><h3>There is no postulation</h3></center>
{% else %}
    <div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example</div>
    <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="200%" cellspacing="0">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date of creation</th>
            <th>Content </th>

        </tr>
        </thead>
        <tbody>
        {% for entity in Postulation  %}
            <tr>
                <td>{{ entity.idannonce.titre|upper }}</td>
                <td>{{ entity.idannonce.Description }}</td>
                <td>{{ entity.dateajout|date }}</td>
                <td>{{ entity.Contenu}}</td>

                <td> <a href="{{ path('update2',{'id':entity.id})  }}"class="modal-view button" style="color: white">Update</a> </td>
                <td> <a href="{{ path('delete2',{'id':entity.id}) }}"class="modal-view button"  style="color: white">Delete</a> </td>



            </tr>
        {% endfor %}
        </tbody>

    </table>
        <h3>The number of the postulation is : {{ Postulation|length }}</h3>

    </div>
    </div>
    </div>
    </div>

{%  endif %}
{% endblock %}