{%  extends 'baseAdmin.html.twig' %}
     {% block body%}

         <div style="margin-top: 111px" class="container">
             <div class="row">
         <table id="mytable" class="table table-bordred table-striped">
             <thead>
             <th>contenu</th>
             <th> Client</th>
             <th>Freelancer</th>
             </thead>

    {% for feedback in Feed %}
        <tbody>
           <tr>
            <td>{{ feedback.contenu}}</td>
            <td>{{ feedback.idClient}}</td>
            <td>{{ feedback.idFreelancer}}</td>


               {% if app.user.username == feedback.idClient or app.user.TypeUser == "admin" %}
                   <td> <a href ="{{ path('club_modifier', {'id':feedback.id}) }}"><button style="color: white">Modifier</button> </a></td>
                   <td> <a href ="{{ path('club_supprimer', {'id':feedback.id}) }}"><button style="color: white">supprimer</button> </a></td>

               {% endif %}



           </tr>
        </tbody>
    {% endfor %}
</table>
             </div>
             <a href ="{{ path('smart_Create')}}"><button>ajouter</button> </a>
             <a href ="{{ path('read_note')}}"><button>Note</button> </a>
         </div>




         <div class="navigation">
             {{ knp_pagination_render(Feed) }}
         </div>




     {% endblock %}