{% extends 'baseFreelancer.html.twig' %}
{% block content%}

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Offre</th>
                        <th>Service</th>
                        <th>Categorie</th>
                        <th>Motif de la reclamation</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>

                        <th>Offre</th>
                        <th>Service</th>
                        <th>Categorie</th>
                        <th>Motif de la reclamation</th>
                        <th>Image</th>
                    </tr>
                    </tfoot>

    {% for entity in Tickets %}
             <tr>

                    <td>{{ entity.Offre }}</td>
                    <td>{{ entity.Service }}</td>
                    <td>{{ entity.Categorie.CategorieR }}</td>
                    <td>{{ entity.MotifReclamation}}</td>
                    <td>{{ entity.Image }}</td>
                 <td> <a href="{{ path('delete1',{'id':entity.id}) }}"><button>Supprimer</button></a> </td>
                 <td> <a href="{{ path('edit',{'id':entity.id}) }}"><button>Modifier</button></a> </td>


            </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <td> <a href="{{ path('Add1') }}"><button>Ajouter</button></a> </td>

            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    </div>
{% endblock %}