{% extends 'baseClient.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

    {% block content %}


<div class="card mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="http://localhost/SmartStart_test/web/app_dev.php/AccueilClient">Home</a>
        </li>
        <li class="breadcrumb-item active">Profile</li>
    </ol>
    <div class="card-header">



        <h6>Username : </h6><h2>{{ app.user.username }}</h2></br>
        <h6>Last Name : </h6><h2>{{ app.user.nom }}</h2></br></br>
        <h6>First Name : </h6><h2>{{ app.user.prenom }}</h2></br></br>
        <h6>Your Email : </h6><h2>{{ app.user.email }}</h2></br></br>
        <h6>Nationality</h6><h2>{{ app.user.Nationalite }}</h2></br></br>
        <h6>Description</h6><h2>{{ app.user.Description }}</h2></br></br>
        <h6>Company Name :</h6><h2>{{ app.user.NomCompany }}</h2></br></br>
        <h6>Company Description : </h6><h2>{{ app.user.Descriptioncompany }}</h2></br></br>
        <h6>Type User : </h6><h2>{{ app.user.typeuser }}</h2></br></br>




        </div>



    {% endblock %}


