{%  extends 'baseAdmin.html.twig' %}




     {% block body%}

         <div class="container">
             {{ form_start(form) }}

             <div style="margin-bottom: 20px; margin-top: 100px" class="row">
                 <div class="col-lg-4"></div>
                 <div class="col-lg-2" style="font-size: 21px">Note :</div>
                 <div class="col-lg-2">{{ form_widget(form.note)  }}</div>
             </div>
             <div class="row">
                 <div class="col-lg-4"></div>
                 <div class="col-lg-2" style="font-size: 21px">Freelance :</div>
                 <div class="col-lg-2">{{ form_widget(form.idfreelancer)  }}</div>
             </div>
             <div style="margin-top: 30px;" class="text-center">
                 {{ form_widget(form.Ajouter)  }}
             </div>

             {{ form_end(form) }}
         </div>



     {% endblock %}

