{%  extends 'baseAdmin.html.twig' %}
     {% block body%}



         <div class="container">
             <div style="margin-top: 20px; margin-bottom: 20px" class="text-center">
                 {{ form(form) }}
             </div>
             <table id="mytable" class="table table-bordred table-striped">
                 <thead style="background-color: #1b4679; color: white">
                 <th>Freelancer</th>
                 <th>Moyenne</th>
                 </thead>
                 {% for non in note %}
                     {% set erreur = 0 %}
                     {% set somme = 0 %}
                     {% set nbr = 0 %}
                     {% for n in note %}
                         {% if non.idFreelancer == n.idFreelancer %}
                             {% set erreur = 1 + erreur %}
                             {% set  somme = somme + n.note %}
                             {% set nbr = nbr + 1 %}

                         {% endif %}

                     {% endfor %}



                     </thead>
                     <tbody>
                     <tr style="background-color: white">
                         <td>{{non.idFreelancer}} </td>
                         <td>{{ somme/nbr }}</td>
                     </tr>
                     </tbody>

                 {% endfor %}

             </table>














             <div style="margin-top: 50px; margin-bottom: 100px" class="container">
                 <div class="row">
                     <table id="mytable" class="table table-bordred table-striped">
                         <thead style="background-color: #1b4679; color: white">
                         <th>note</th>
                         <th> Client</th>
                         <th>Freelancer</th>
                         <th>Score</th>
                         </thead>

                         {% for no in note %}


                             <tbody>
                             <tr style="background-color: white">
                                 <td>{{ no.note}}</td>
                                 <td>{{ no.idClient}}</td>
                                 <td>{{ no.idFreelancer}}</td>

                                 {% if app.user.username == no.idClient or app.user.TypeUser == "admin" %}

                                     <td> <a href ="{{ path('supprimer_note', {'id':no.id}) }}"><button class="btn btn-outline-danger">supprimer</button> </a></td>

                                 {% endif %}

                             </tr>
                             </tbody>

                         {% endfor %}
                     </table>
                     <a href ="{{ path('creat_note')}}"><button class="btn btn-outline-success" style="margin: 20px;">ajouter</button> </a>
                 </div>

             </div>
         </div>



     {% endblock %}