{% extends 'baseAdmin.html.twig' %}
{#{% block content %}#}


{% block body %}

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Categories</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>

                    {#  <h1>Recherche </h1> #}
                     {{ form(form) }}

                    <tr>
                        <th>Category</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>

                        <th>Category</th>
                    </tr>
                    </tfoot>

                    <tbody>

                    {% for entity in categorie   %}
                        <tr>
                            <td>{{ entity.categorieF }}</td>

                            <td> <a href="{{ path('deleteCCL',{'id':entity.id}) }}"><button>Delete</button></a> </td>
                            <td> <a href="{{ path('updateC',{'id':entity.id}) }}"><button>Update</button></a> </td>

                        </tr>
                    {% endfor %}


                    </tbody>
                </table>

                <td> <a href="{{ path('AddC') }}"><button>Add</button></a> </td>

            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 09:59 PM</div>
    </div>

    </div>



{% endblock %}
