{% extends 'base.html.twig' %}

    {% block content %}


        <div class="card mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="AccueilFreelancer">Home</a>
                </li>
                <li class="breadcrumb-item active">Profil</li>
            </ol>
            <div class="card-header">


                <i class="fas fa-table"></i>

                Your Profile </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Username :</th>
                            <th>Name :</th>
                            <th>Email :</th>
                            <th>Category Skills :</th>
                            <th>Skill :</th>
                            <th>Description :</th>
                        </tr>
                        </thead>
                        <tbody>
                                {% for entity in  a  %}
                                <tr>
                                <td>{{ entity.username }}</td>
                                <td>{{ entity.username_canonical }}</td>
                                <td>{{ entity.email }}</td>

                                {% endfor %}

                                {% for entity in b  %}
                                <td>{{ entity.categorie }}</td>
                                {% endfor %}

                                {% for entity in c  %}
                                <td>{{ entity.skill }}</td>
                                {% endfor %}

                                {% for entity in d  %}
                                <td>{{ entity.description }}</td>
                                {% endfor %}

                                </br></br></br>
                                <td> <a href="{{ path('UpdateProfil',{'id':entity.id}) }}"><button>Update Profile</button></a> </td>

                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>

        </div>
    {% endblock %}


